<section class="action-reviews-section">
  <div class="upgrades-container">
    <h2>Available Upgrades</h2>
    <div class="action-buttons">
    <a href="bumper" class="action-button"><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker"></a>
    <a href="flame" class="action-button"><img src="images/upgrades/flame.jpg" alt="Flame Sticker"></a>
    <a href="flux" class="action-button"><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor"></a>
    <a href="cap" class="action-button"><img src="images/upgrades/hub-cap.jpg" alt="Hub Cap"></a>
    </div>
  </div>

  <div class="reviews-container">
    <h2>Customer Reviews</h2>
    <ul class="reviews-list">
      <li>“Best car buying experience ever!” Jane D.</li>
      <li>“Excellent customer service and prices.” John S.</li>
      <li>“Highly recommend CSE Motors for families.” Lisa P.</li>
      <li>“Top-notch selection of vehicles.” Mike W.</li>
    </ul>
  </div>
</section>
