<section class="car-image-section">
    <div class="car-image-container">
        <img src="images/vehicles/delorean-tn.jpg" alt="Featured Car">
        <div class="car-text-overlay">
            <p>Check out this amazing deal!</p>
            <a href="/cars/custom" class="car-button">Learn More</a>
        </div>
    </div>
</section>
